{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<main id="stick-footer">
    <div class="container col-11 col-md-6" id="mentionsLegalesContainer">
        <h1 id="mentionsLegalesHeader" class="text-center">Mentions légales</h1>

        <h3 class="mentionsLegalesH3 text-center">- Directeur de publication -</h3>
        <p class="text-center">Bryan HENRYON</p>

        <h3 class="mentionsLegalesH3 text-center">- Hébergement -</h3>
        <p class="text-center">OVH : 2 rue Kellermann - 59100 Roubaix - France</p>
        
        <h3 class="mentionsLegalesH3 text-center">- Propriété intellectuelle -</h3>
        <p class="mt-3">Toute reproduction totale ou partielle du site last-life.fr sans l'autorisation expresse du directeur de publication est interdite. Le contenu est disponible pour un usage privé et non collectif. Nous nous réservons le droit de modifier le contenu de ce site web de toutes les façons que ce soit, à tout moment et pour n'importe quelle raison, et ce, sans notification préalable particulière. Nous nous engageons à ne pas vendre ou distribuer vos données personnelles à tout autre organisme.</p>
    </div>
</main>
{% endblock %}