<!DOCTYPE html>

<html lang="fr">

<head>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Email de réinitialisation de mot de passe</title>

</head>

<body>

        <div class="register-email-container" style="height:auto; width:80%; background-color: #C6262D; color:#f4f4f4; padding:30px; border-radius:5px;">
            <div style="margin:auto; width:100%">

            <div id="register-email-logo" style="margin:auto; margin-bottom:50px; margin-left:10px; text-align:center">

               <img src="{{ absolute_url(asset('img/logo.png')) }}">

            </div>

            <h2>Bonjour !</h2>

            <p>Cet email fait suite à votre demande de réinitialisation de mot de passe. Veuillez cliquer sur le lien ci-dessous pour en définir un nouveau.</p>

            <br>

            <a href="{{ url }}" style="padding:15px; color:#C6262D; background:#f4f4f4; border-radius:5px; text-decoration:none; font-weight:bold; max-width:80%; min-width:40%;">Réinitialisez votre mot de passe</a>

            <br>
            <br>

            <p>Si n'en avez pas fait la demande, ignorez simplement cet email.</p>

            <p>A bientôt sur Last Life !</p>

            <p style="font-size:12px; margin-top:50px; text-align:center;">Last Life &copy; 2019. Tous droits réservés.</p>

            </div>
        </div>

</body>

</html>

