{% extends 'base.html.twig' %}



{% block title %}Page non trouvée{% endblock %}



{% block body %}

    <div class="container mt-5 col-11 mx-auto text-light" id="stick-footer">

        <h1>Autorisation refusée</h1>

        <p>Vous n'avez pas l'autorisation d'accéder à cette page. Nous vous invitons à retourner vers la page d'accueil en <a href="{{ path('homepage') }}" id="error-redirect">cliquant ici</a>.</p>

    </div> 

{% endblock %}

 